.idea/
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/doc/
/pkg/
/coverage/
/spec/coverage/
/tmp/
/data
/*.enc
**/.DS_Store
.ruby-version
.rspec_status
/spec/fixtures/file*/Arlifile.*
/spec/fixtures/file*/libraries
.rake_tasks~
.vscode

